.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.auth-link {
    color: white;
    font-size:16px;
    padding: 5px 10px;
    border-radius: 5px;
}
