<!-- index.html -->
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>CISS430 Chatroom</title>
  </head>
  <div class="header" id="myHeader">
    <h1><a href="/" style="text-decoration:none;color:white">CISS430 Chatroom</a></h1>
    {% if user >= 0 %}
        <a href="logout" class="auth-link">Logout</a>
    {% else %}
        <a href="login" class="auth-link">Login</a>
    {% endif %}
  </div>
  <body>
    <h1>Homepage</h1>

    Hello {{ user }}!
  </body>
</html>
