<!-- index.html -->
<html>
  
  {% include 'header.html' %}
  
  <body>
    <h1>Global Chat</h1>
    <br>

    <div class="chat-container" id="chat-window">
      {% for msg in messages %}
      <div class="message {% if msg.username == username %}user{%else%}other{%endif%}">
        <strong>{{ msg.username }}</strong>: {{ msg.message }}
        <br>
        <small>{{ msg.time_sent }}</small>
      </div>
      {% endfor %}
    </div>

    <form class="message-form" action="index" method="POST">
      <input type="text" name="message" class="message-input" placeholder="Type your message..." required>
      <button type="submit" class="send-button">Send</button>
    </form>

    <script>
      function scroll_to_bottom()
      {
          var chat_window = document.getElementById("chat-window");
          chat_window.scrollTop = chat_window.scrollHeight;
      }
      
      scroll_to_bottom();
    </script>
    
  </body>
</html>x
