<!-- login.html -->
<html>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>CISS430 Chatroom</title>
  </head>
  
  {% include 'header.html' %}

  <body>
    <div class="main-content-login-register">
      <h3>Register:</h3>
      <form action="register" method="post">

        {% include 'flash_handler.html' %}
        
        Username:
        <br>
        <input name="username" required>
        <br>

        Email:
        <br>
        <input type="email" name="email" required>
        <br>
        
        Password: <br>
        <input type="password" name="password" required>
        <br>

        Confirm Password: <br>
        <input type="password" name="confirm_password" required>
        <br>

        Already have an account? <a href="login">Login</a>.
        <br>
        
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
