<!-- login.html -->
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>CISS430 Chatroom</title>
  </head>
  
  <div class="header" id="myHeader">
    <h1>
      <a href="/" style="text-decoration:none;color:white">CISS430 Chatroom</a>
    </h1>
    
    {% if user >= 0 %}
        <a href="logout" class="auth-link">Logout</a>
    {% else %}
        <a href="login" class="auth-link">Login</a>
    {% endif %}
  </div>

  <body>
    <h3>Register:</h3>
    <form action="register" method="post">

      <!-- Flash messages -->
      {% with messages = get_flashed_messages()%}
          {% if messages%}
              {% for message in messages%}
                  <p style="color:red">{{message}}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}
    
      Username:
      <br>
      <input name="username" required>
      <br>

      Email:
      <br>
      <input type="email" name="email" required>
      <br>
      
      Password: <br>
      <input type="password" name="password" required>
      <br>

      Confirm Password: <br>
      <input type="password" name="confirm_password" required>
      <br>

      Already have an account? <a href="login">Login</a>.
      <br>
      
      <button type="submit">Register</button>
    </form>
  </body>
</html>
