<!-- remove_gc_members.html -->
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='new_chat.css') }}">
    <title>CISS430 Chatroom</title>
  </head>

  {% include 'header.html' %}
  
  <body>
    <div class="user-sidebar">
      <h3>Select Users</h3>
      <ul class="user-list">
        {% for user in users %}
        <li id="user-{{ user.id }}" onclick="toggleUser('{{ user.id }}')">
          {{ user.username }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <br>
    <div class="main-content-sidebar">
      <form action="remove_gc_members" method="POST">
        <input type="hidden" name="selected_users" id="selected_users">
        <button type="submit" class="create-chat-btn">Remove Users</button>
      </form>

      {% include 'flash_handler.html' %}
    </div>
  </body>
</html>

<script>
  let selectedUsers = new Set();

  function toggleUser(userId) {
      if (selectedUsers.has(userId))
      {
          selectedUsers.delete(userId);
          document.getElementById("user-" + userId).classList.remove("selected-red");
      }
      else
      {
          selectedUsers.add(userId);
          document.getElementById("user-" + userId).classList.add("selected-red");
      }

      // Turn the set into a list of comma separated user ids
      // and place it into the form submit input.
      document.getElementById("selected_users").value = Array.from(selectedUsers).join(",");
  }
</script>
